<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Formulaire Flask</title>
  </head>
  <body>
    <h1>Liste d'attente des commandes</h1>
    <p>Cliquez sur une commande pour confirmer sa livraison.</p>
    <ul>
        {% for i in commandes %}
        <li>
          <a href="/completer-commande/{{ i[0] }}" >
            {{ i[1] }} | {{ i[2] }}
          </a>
        </li>
        {% endfor %}
    </ul>
    <a href="/">Retourner à la page d'accueil</a>
  </body>
</html>